body, .app {
    color: #1d1d1d !important;
    box-shadow: none !important;
    font-family: 'Source Sans Pro Regular', 'Sans', sans-serif !important;
}
.theme-light .title-3qD0b-, .header-2o-2hj, .guilds-wrapper, .container-2Thooq, .container-PNkimc, .channels-Ie2l6A {
    background: #F0F0F0;
    color: #000;
}
.private-channels .channel .channel-name {
	color: #000;
}
.private-channels .channel:hover a {
	color: #1d1d1d;
	background-color: rgba(0,0,0,0.1);
}
.message-group .comment .markup, .theme-light .textArea-2Spzkt {
    color: #1D1D1D;
}
.members-1998pB {
    background: #F0F0F0;
}
.chat .content {
    background: #F9F9F9;
}
.channelTextArea-rNsIhG {
    margin: 15px 0 25px;
}
.theme-light .inner-zqa7da {
    background-color: rgba(0,0,0,0.1);
}
.nameUnreadText-DfkrI4, .nameUnreadVoice-EVo-wI, .nameConnectedText-3CzNQn, .nameConnectedVoice-MHUX5F, .nameSelectedText-sp_EUw, .nameSelectedVoice-1qSph5 {
    color: #1D90CD
}
.contentSelectedText-3wUhMi, .contentSelectedVoice-1WDIBM {
    background: #FFF;
}
.containerDefault-3GGEv_, .containerDragAfter-3TEhpe, .containerDragBefore-3Dzc5x, .containerUserOver-1Tcb7l {
    padding-top: 10px;
}
.guilds-wrapper .guilds .friends-online {
    color: #1d1d1d;
}
.guilds-wrapper .guilds .guild.unread:before {
    background: #1d1d1d;
}
.header-2o-2hj {
    box-shadow: none;
    -webkit-box-shadow: none;
}
.theme-light .title-3qD0b-, .header-2o-2hj, .guilds-wrapper, .container-2Thooq, .container-PNkimc {
    background: #F0F0F0;
    color: #000;
}
.message-group .comment .markup {
    color: #1D1D1D;
}
.members-1998pB {
    background: #F0F0F0;
}
.chat .content {
    background: #F9F9F9;
}
.theme-light .inner-zqa7da, .contentHoveredText-2D9B-x, .contentHoveredVoice-3p_NEO {
    background-color: rgba(0,0,0,0.1);
    color: #1D90CD !important;
}
.colorConnectedText-1c_uzY, .colorConnectedVoice-3kyvUN, .colorDefaultText-oas-QM, .colorDefaultVoice-3wYlhb, .colorHoveredText-OZnAgu, .colorHoveredVoice-1kucsK, .colorLockedText-1VRkPt, .colorLockedVoice-2UlBjl, .colorSelectedText-1y4Wvs, .colorSelectedVoice-Xcb_9R, .colorUnreadText-2t7XRb, .colorUnreadVoice-137o4S {
    color: #4f545c;
}
.nameDefaultText-24KCy5 {
    color: #4f545c;
}
.nameMutedText-3Vj4bM {
    color: #8D96A6;
}
.nameUnreadText-DfkrI4, .nameUnreadVoice-EVo-wI, .nameConnectedText-3CzNQn, .nameConnectedVoice-MHUX5F, .nameSelectedText-sp_EUw, .nameSelectedVoice-1qSph5 {
    color: #1D90CD
}
.chat .new-messages-bar {
    background-color: #1D90CD
}
.contentSelectedText-3wUhMi, .contentSelectedVoice-1WDIBM {
    background: #FFF;
}
.containerDefault-3GGEv_, .containerDragAfter-3TEhpe, .containerDragBefore-3Dzc5x, .containerUserOver-1Tcb7l {
    padding-top: 10px;
}
.guilds-wrapper .guilds .friends-online {
    color: #1d1d1d;
}
.guilds-wrapper .guilds .guild.unread:before, .guilds-wrapper .guilds .guild.selected:before {
    background: #1d1d1d;
}
.header-2o-2hj {
    box-shadow: none;
    -webkit-box-shadow: none;
}
.nameHoveredText-1uO31y, .nameHoveredVoice-YJ1Vfd {
    color: #1D90CD !important;
}
.typing-2GQL18 {
    background-color: transparent !important;
}
.guilds-wrapper .guilds .guild .guild-inner {
    background: #1d1d1d;
}