body,
.app {
    color: #1d1d1d !important;
    box-shadow: none !important;
    font-family: 'Source Sans Pro Regular', 'Sans', sans-serif !important;
    /* text-shadow: #fff 0px 0px 0.5px !important; */
    text-rendering: geometricPrecision !important;
}

span {
    /* color: #1d1d1d; */
}

.container-16j22k {
    background: #F0F0F0;
}

.quote-3aooyW,
.anchor-3Z-8Bb {
    color: #000;
}

.activityName-1IaRLn {
    color: #FFF;
}

.theme-light .title-3qD0b-,
.header-2o-2hj,
.guilds-wrapper,
.container-2Thooq,
.container-PNkimc,
.channels-Ie2l6A,
.theme-light .headerBar-UHpsPw,
.theme-light .guildsWrapper-5TJh6A {
    background: #F0F0F0;
    color: #000;
}

.private-channels .channel .channel-name {
    color: #000;
}

.private-channels .channel {
    top: -23px;
}

.private-channels header {
    margin-top: -25px;
    padding-bottom: 25px;
}

.private-channels .channel:hover a,
.theme-light .member-3W1lQa:hover .content-OzHfo4 {
    color: #1d1d1d;
    background-color: rgba(0, 0, 0, 0.1);
}

.message-group .comment .markup,
.theme-light .textArea-2Spzkt {
    color: #1D1D1D;
}

.private-channels .channel.selected .link-button-icon,
.private-channels .channel-name,
.private-channels .link-button-icon {
    color: #000 !important;
}

.private-channels header {
    color: #000;
    opacity: 100;
    font-size: 15px;
    font-weight: 500;
}

.private-channels .search-bar {
    box-shadow: none;
}

.members-1998pB {
    background: #F0F0F0;
}

.chat .content {
    background: #F9F9F9;
}

.containerCozy-jafyvG {
    padding-top: 10px;
    /*margin-bottom: 25px;*/
}

.containerCozy-jafyvG .divider-32i8lo {
    margin: 10px 20px -20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}

.channelTextArea-rNsIhG,
.theme-light .channelTextArea-rNsIhG {
    margin: 0px 0 20px;
    padding-top: 0px;
}

.accountDetails-3k9g4n .username {
    max-width: 100%;
}

.nameUnreadText-DfkrI4,
.nameUnreadVoice-EVo-wI,
.nameConnectedText-3CzNQn,
.nameConnectedVoice-MHUX5F,
.nameSelectedText-sp_EUw,
.nameSelectedVoice-1qSph5 {
    color: #1D90CD
}

.contentSelectedText-3wUhMi,
.contentSelectedVoice-1WDIBM,
.private-channels .channel.selected a {
    background: #FFF;
}

.containerDefault-3GGEv_,
.containerDragAfter-3TEhpe,
.containerDragBefore-3Dzc5x,
.containerUserOver-1Tcb7l {
    padding-top: 10px;
}

.guilds-wrapper .guilds .friends-online,
.friendsOnline-_wi_fM {
    color: #1d1d1d !important;
}

.header-2o-2hj {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.theme-light .title-3qD0b-,
.header-2o-2hj,
.guilds-wrapper,
.container-2Thooq,
.container-PNkimc {
    background: #F0F0F0;
    color: #000;
}

.message-group .comment .markup {
    color: #1D1D1D;
}

.members-1998pB {
    background: #F0F0F0;
}

.chat .content {
    background: #F9F9F9;
}

.theme-light .inner-zqa7da,
.contentHoveredText-2D9B-x,
.contentHoveredVoice-3p_NEO {
    background-color: rgba(0, 0, 0, 0.1);
    color: #1D90CD !important;
}

.theme-light .inner-zqa7da {
    background-color: transparent;
}

.guilds-wrapper .scroller-wrap,
.scrollerWrap-1IAIlv {
    width: 70px !important;
    z-index: 1;
}

.guilds-wrapper .guilds .guild .guild-inner,
.guild-1EfMGQ .guildInner-3DSoA4 {
    border-radius: 2px !important;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.75) !important;
}

.guilds-wrapper .guilds .guild+.guild,
.guild-1EfMGQ+.guild-1EfMGQ {
    margin-top: 4px;
}

.message-group {
    padding: 10px 0px 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.channels-Ie2l6A {
    width: 220px;
}

.header-2o-2hj,
.title-3qD0b-,
.titleCall-_b9o8P {
    height: 32px;
}

.membersWrap-2h-GB4 {
    min-width: 200px;
    max-width: 240px;
}

.search .search-bar,
.search-bar .search-bar-inner {
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid transparent;
}

.search-bar input {
    color: #000
}

.chat form {
    margin: 0 5px;
}

.innerNoAutocomplete-1WpcVO {
    border-radius: 0px;
}

.chat .divider.divider-red {
    margin-bottom: 25px;
}

.chat .divider.divider-red>span {
    background-color: #f04747;
    color: #FFF;
    line-height: 14px;
}

.chat .divider>span {
    background-color: rgba(0, 0, 0, 0);
    padding: 3px 10px;
}

.chat .divider {
    margin: 2px 0 10px 0;
}

.chat .divider.divider-red>div {
    opacity: 1;
}

.member-3W1lQa,
.membersGroup-v9BXpm {
    height: 38px;
}

.membersGroup-v9BXpm {
    padding-top: 10px;
    padding-left: 20px;
    text-transform: none;
    font-size: 15px;
    font-weight: 500;
    height: 30px;
    color: #1d1d1d;
    letter-spacing: .5px;
    text-align: right;
    margin-bottom: -3px;
}

.content-OzHfo4 {
    padding: 5px 10px;
}

.horizontal-1ae9ci>.flex-1xMQg5:last-child {
    margin-left: -14px !important;
    z-index: 50;
}

.unread-mentions-indicator-bottom,
.unread-mentions-indicator-top,
.unreadMentionsIndicatorBottom-BXS58x {
    padding: 5px 3px;
    width: 50px;
}

.colorConnectedText-1c_uzY,
.colorConnectedVoice-3kyvUN,
.colorDefaultText-oas-QM,
.colorDefaultVoice-3wYlhb,
.colorHoveredText-OZnAgu,
.colorHoveredVoice-1kucsK,
.colorLockedText-1VRkPt,
.colorLockedVoice-2UlBjl,
.colorSelectedText-1y4Wvs,
.colorSelectedVoice-Xcb_9R,
.colorUnreadText-2t7XRb,
.colorUnreadVoice-137o4S {
    color: #4f545c;
}

.nameDefaultText-24KCy5 {
    color: #4f545c;
}

.nameMutedText-3Vj4bM {
    color: #8D96A6;
}

.nameUnreadText-DfkrI4,
.nameUnreadVoice-EVo-wI,
.nameConnectedText-3CzNQn,
.nameConnectedVoice-MHUX5F,
.nameSelectedText-sp_EUw,
.nameSelectedVoice-1qSph5 {
    color: #1D90CD
}

.chat .new-messages-bar {
    background-color: #1D90CD
}

.contentSelectedText-3wUhMi,
.contentSelectedVoice-1WDIBM {
    background: #FFF;
}

.containerDefault-3GGEv_,
.containerDragAfter-3TEhpe,
.containerDragBefore-3Dzc5x,
.containerUserOver-1Tcb7l {
    padding-top: 10px;
}

.guilds-wrapper .guilds .friends-online {
    color: #1d1d1d;
}

.header-2o-2hj {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.nameHoveredText-1uO31y,
.nameHoveredVoice-YJ1Vfd {
    color: #1D90CD !important;
}

.typing-2GQL18 {
    background-color: transparent !important;
    height: 23px;
}

.guilds-wrapper .guilds .guild .guild-inner,
.guild-1EfMGQ+.guild-1EfMGQ {
    background: #1d1d1d;
}

.guilds-wrapper .guilds,
.guilds-1q_RqH {
    padding: 2px 0 2px 3px;
}

.guilds-wrapper .guilds .guild.selected:before,
.guilds-wrapper .guilds .guild.unread:before,
.guild-1EfMGQ.selected-ML3OIq:before,
.guild-1EfMGQ.unread-qLkInr:before,
.theme-light .guild-1EfMGQ.unread-qLkInr:before {
    left: -11px;
    border: 2px solid #1D90CD;
    z-index: 99;
    background: #FFF;
}

.guilds-wrapper .guilds .guild.unread:before {
    margin-top: -6px;
}

.guilds-wrapper .guilds .guild.selected:before {
    margin-top: -22px;
}

.scroller-2v3d_F {
    padding: 0px;
}

.content-20Aix8 {
    height: 30px;
}

.wrapper-KpKNwI {
    height: 32px;
}

.containerDefault-1ZnADq {
    display: block;
}

.unread-1Dp-OI {
    display: none;
}

.menu-Sp6bN1 {
    border-radius: 2px;
}

.guild-separator,
.guildSeparator-1X4GQ1 {
    display: none;
}

.guilds-wrapper .guilds .friends-online {
    font-weight: 700;
    margin: 8px 0 2px 0;
}

.wrapper-2NJDcI {
    background-color: #FFF;
}

.header-2BwW8b {
    height: auto;
}

.headerTop-3C2Zn0 {
    padding: 45px 0px 5px 0px;
    height: 60px !important;
}

.avatarHintInner-Dco91E {
    display: none;
}

.avatarWrapperNormal-3wFMbf {
    margin-top: -80px;
    border: 4px solid rgba(246, 246, 247, 0.8);
    background: rgba(246, 246, 247, 1);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .4), 0 0 0 1px hsla(216, 4%, 74%, .6);
    position: absolute
}

.topSectionNormal-2-vo2m {
    list-style: none;
}

.uploadModal-2ifh8j .inner-3nWsbo {
    border: none;
}

.uploadModal-2ifh8j {
    background: rgba(255, 255, 255, 0.85);
}

.uploadModal-2ifh8j .footer-3mqk7D {
    background: rgba(255, 255, 255, 0.95);
}

.uploadModal-2ifh8j .footer-3mqk7D .button-primary {
    background: rgba(0, 0, 0, 0.2);
    color: #000;
    margin-left: 10px;
}

.backdrop-1wrmKB {
    background-color: transparent !important;
}

.name-1ug6d4 .flexChild-faoVW3 .primary-jw0I4K {
    margin-left: 0px !important;
}

.mention {
    background-color: rgba(0, 0, 0, 0.1);
    color: #000;
    padding: 0px 3px;
    border: 0px solid transparent;
}

.mention:hover {
    background: #FFF;
    outline: 1px solid #1D90CD;
    color: #000;
}

.message-group .mentioned .message-text {
    border-radius: 0px;
    padding: 0px 0px 4px 2px;
}

.theme-light .body-3ND3kc,
.theme-light .body-3iLsc4 {
    background: rgba(255, 255, 255, 0.95);
}

.theme-light .footer-1fjuF6 {
    background: rgba(255, 255, 255, 0.85);
    border-top: none;
}

.username-3gJmXY {
    line-height: 40px;
}

.mentioned .mention:hover {
    background: #FFF !important;
}

.uploadModal-2ifh8j,
.label-3aiqT2 {
    color: #000;
}

.message-group .accessory,
.message-group .accessory>* {
    max-width: 100% !important;
    min-height: 50% !important;
}

.message-group a {
    padding-top: 0px;
}

.imageWrapper-2p5ogY img {
    height: auto !important;
    width: 100% !important;
}

.imageWrapper-2p5ogY {
    padding-top: 5px;
    padding: 0px;
}

/*
.message-group .emoji {
    min-height: 30px;
    min-width: 30px;
}*/

.userSettingsAccount-2eMFVR .userInfoViewingButton-2-jbH9 {
    z-index: 100;
}

.icon-3nr6O-,
.icon-29PTzq {
    background: #000;
    opacity: .5;
    padding: 2px;
}

.iconSpacing-3jB4W5 {
    margin-left: 0;
    margin-right: 0;
}

.nameHovered-21k1eo,
.nameSpeaking-3UhoEZ {
    color: #000;
    opacity: 1;
}

.theme-light .markup-2BOw-j {
    color: #1d1d1d;
}

.emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.disabled-1H1CfW {
    display: none;
}

.container-2Thooq .avatar-3JE4B3 {
    background: white !important;
}

.container-2Thooq .avatar-small {
    width: 5.75px;
    border-radius: 1px;
    z-index: 100;
}

.container-2Thooq .status-2kJpn, .container-2Thooq .avatar-small .status {
    border: 1px solid transparent;
    height: 35px;
    margin-left: 1px;
    border-radius: 3px;
}

.accountDetails-3k9g4n .username,
.accountDetails-3k9g4n .discriminator {
    opacity: .6;
    font-size: 0.75em !important;
}

.scroller-2wx7Hm {
    /*height: 100vh;*/
    height: 82vh;
}

button.iconButtonDefault-2cKx7-.iconButton-3V4WS5.button-2b6hmh.small--aHOfS,
button.button-2b6hmh.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 0px;
}

.theme-dark .container-2Thooq, .theme-light .container-2Thooq {
	background: transparent;
}

.inner-1JeGVc {
    background: rgba(0,0,0,0.75);
    padding: 50px;
    border-radius: 5px;
}
